* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

@font-face {
    font-family: carpatin;
    src: url(Resources/zamolxis-i-font/ZamolxisI-PGVd.ttf);
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*Hero Section*/

.hero {
    width: 34vw;
    height: 100vh;
    position: relative;
    background-image: url(Resources/hero.jpg);
    background-size: cover;
}

#hero-title{
    position: absolute;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    color: white;
    background-color: hsla(0, 100%, 0%, 0.2);
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
}

#hero-logo {
    height: 100%;
}

#title-text {
    font-family: carpatin, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#hero-credit {
    color: #ecf1f4;
    font-size: 1rem;
    position: absolute;
    bottom: 1%;
    right: 5%;
    text-align: right;
}

#hero-credit a {
    color: #ecf1f4;
}

/*Content Section*/

#content {
    width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #283136;
    background-color: #a5c0c9;
}

header {
    margin: 0 0 3rem 0;

}

header h2 {
    margin: 1rem 25rem 1rem 3rem;
}

/*Form*/

.form-content {
    background-color: #ecf1f4;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 5px 0 gray;
}


fieldset {
    border: none;
    display: flex;
    gap: 5rem;
    padding: 0.5rem 0;

}

label, input {
    display: block;
    line-height: 1.5rem;
}

label{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 900;
}

input {
    font-size: 1rem;
    border: 1px solid hsla(0, 100%, 0%, 0.2);
    border-radius: 0.5rem;
}

input:focus{
    outline: 2px solid #2a414f;
    box-shadow: 0 0 3px 4px #a5c0c9;
}

form button {
    margin: 1rem 0 2rem 3rem;
    color: #ecf1f4;
    font-weight: 800;
    background-color: #2a414f;
    border: none;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    font-size: 1rem;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    transition: 0.5s;
}

form button:hover{
    box-shadow: 0 0 2px 4px #ecf1f4;
    background-color: hsl(203, 31%, 34%);
}

/*Footer*/
footer{
    margin-left: 3rem;
    font-weight: 600;
}

footer a{
    color: #283136;
}